(
	[
		// First wave
		WaveDescriptor(
			nb_enemies: 1,
			new_shop_items: []
		),
		// Wave 2
		WaveDescriptor(
			nb_enemies: 2,
			new_shop_items: [
				ShopItemData(
					cost: [],
					effects: [BuildTower],
				),
				ShopItemData(
					cost: [(Banana, 3)],
					effects: [IncreaseDamage(1)],
				),
			],
		),
		// Wave 3
		WaveDescriptor(
			nb_enemies: 3,
			new_shop_items: [
				ShopItemData(
					cost: [(Log, 5)],
					effects: [BuildTreeSpawner],
				),
			],
		),
		// Wave 4
		WaveDescriptor(
			nb_enemies: 4,
			new_shop_items: [
				ShopItemData(
					cost: [(Banana, 3)],
					effects: [MultiplyCooldown(0.9)]
				),
			],
		),
		// Wave 5
		WaveDescriptor(
			nb_enemies: 5,
			new_shop_items: [
				ShopItemData(
					cost: [],
					effects: [BuildTower],
				),
				ShopItemData(
					cost: [(Banana, 5)],
					effects: [IncreaseDamage(1)]
				),
			],
		),
		// Wave 6
		WaveDescriptor(
			nb_enemies: 6,
			new_shop_items: [
				ShopItemData(
					cost: [(Apple, 3)],
					effects: [IncreaseDamage(1)]
				),
				ShopItemData(
					cost: [(Log, 5)],
					effects: [BuildTreeSpawner],
				),
			],
		),
		// Wave 7
		WaveDescriptor(
			nb_enemies: 9,
			new_shop_items: [
				ShopItemData(
					cost: [],
					effects: [BuildTower],
				),
				ShopItemData(
					cost: [(Log, 3)],
					effects: [MultiplyCooldown(0.9)]
				),
			],
		),
		// Wave 8
		WaveDescriptor(
			nb_enemies: 6,
			new_shop_items: [
				ShopItemData(
					cost: [(Banana, 5)],
					effects: [MultiplyCooldown(0.7)]
				),
			]
		),
	],
)
